dataset_scaled_no_outliers.csv
weatherAUS.csv
data-final.csv  
Groceries_dataset.csv
movies.csv

sp500_stocks.csv
sp500_index.csv
sp500_companies.csv
russia_losses_personnel.csv
russia_losses_equipment.csv
russia_losses_equipment_correction.csv
emails
ml-100k
ifood_df.csv
heart.csv
Mall_Customers.csv
tmp
transaction_map.html
env
test.csv
train.csv
business.csv
Clean_Dataset.csv
economy.csv
twitter_validation.csv
twitter_training.csv
bank.csv
bank_transactions_data_2.csv
retail_store_inventory.csv
dog-breed-identification
Crime_Prediction_in_Chicago_Dataset.csv