dataset_scaled_no_outliers.csv
weatherAUS.csv
data-final.csv  
Groceries_dataset.csv
movies.csv

sp500_stocks.csv
sp500_index.csv
sp500_companies.csv
russia_losses_personnel.csv
russia_losses_equipment.csv
russia_losses_equipment_correction.csv
emails
ml-100k